   
/* BASIC COLOR */
$primary_color		: #E39696 !default;
$font_color			: #333333 !default;
$white_color		: #ffffff !default;
$black_color		: #000 !default;

// $percentage_color_code : %23E39696;

/* FONTS */
$font_primary   : 'Nunito', sans-serif;
$font_secondary : 'Great Vibes', cursive;